@model EntityLayer.Concrete.Author
@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Ad")
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorName)
    <br />
    @Html.Label("Soyad")
    @Html.TextBoxFor(x => x.AuthorSurName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorSurName)
    <br />
    @Html.Label("Kullanıcı Adı")
    @Html.TextBoxFor(x => x.AuthorUserName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AuthorUserName)
    <br />
    @Html.Label("Mail")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkında")
    @Html.TextAreaFor(x => x.AuthorAbout, 3, 30, new { @class = "form-control" })
    <br />
    @Html.Label("Hakkında Kısa")
    @Html.TextBoxFor(x => x.AuthorAboutShort, new { @class = "form-control" })
    <br />
    @Html.Label("Resim")
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>


