@model IEnumerable<EntityLayer.Concrete.Blog1>
@{
    ViewBag.Title = "AdminBlogList2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string color = "";}
@{string casename = "";}
@{int puan = 1;}

<!DOCTYPE html>
<html>
<head>
    <style>
        a:hover {
            color: darkblue;
            background-color: none;
            text-decoration: underline;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Blog Listesi</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Başlık
                            </th>
                            <th>
                                Yazar
                            </th>
                            <th>
                                Beğeni Oranı
                            </th>
                            <th class="text-center">
                                Kategori
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            puan = item.BlogRating * 10;
                            if (puan >= 90)
                            {
                                color = "post-category text-white bg-success mb-3";
                                casename = "Çok İyi";
                            }
                            else if (puan >= 70)
                            {
                                color = "post-category text-white bg-info mb-3";
                                casename = "Başarılı";
                            }
                            else if (puan >= 50)
                            {
                                color = "post-category text-white bg-warning mb-3";
                                casename = "Fena Değil";
                            }
                            else if (puan >= 0)
                            {
                                color = "post-category text-white bg-danger mb-3";
                                casename = "Kötü";
                            }
                            <tr>
                                <td>@item.BlogID</td>
                                <td><a href="/Blog/BlogDetails/@item.BlogID" style="color: #000000;">@item.BlogTitle</a></td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="/Blog/AuthorBlogList/@item.AuthorID" style="color: #000000;">
                                                <img alt="Avatar" class="table-avatar" src="@item.Author.AuthorImage">&nbsp;&nbsp;
                                                @item.Author.AuthorUserName
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                                <td class="project_progress">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-green" role="progressbar" aria-volumenow="@item.BlogRating" aria-volumemin="0" aria-volumemax="100" style="width: @puan%">
                                        </div>
                                    </div>
                                    <small>
                                        Aldığı puan: @puan
                                    </small>
                                </td>
                                <td class="project-state">
                                    <a href="/Blog/BlogByCategory/@item.CategoryID"><span class="badge badge-success">@item.Category.CategoryName</span></a>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Blog/BlogDetails/@item.BlogID">
                                        <i class="fas fa-folder">
                                        </i>
                                        Detay
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Blog/UpdateBlog/@item.BlogID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Blog/DeleteBlog/@item.BlogID" onclick="return confirm('Blog yazısını silmek istediğinize emin misiniz?')">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>


