@model IEnumerable<EntityLayer.Concrete.Blog1>
@{
    ViewBag.Title = "AuthorBlogList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{string color = "";}
@{string casename = "";}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Blog Listem</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Başlık
                            </th>
                            <th>
                                Blog Değerlendirme Oranı
                            </th>
                            <th class="text-center">
                                Kategori
                            </th>
                            <th class="text-center">
                                Durum
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.BlogRating >= 85)
                            {
                                color = "post-category text-white bg-success mb-3";
                                casename = "Çok İyi";
                            }
                            else if (item.BlogRating >= 70)
                            {
                                color = "post-category text-white bg-info mb-3";
                                casename = "Başarılı";
                            }
                            else if (item.BlogRating >= 50)
                            {
                                color = "post-category text-white bg-warning mb-3";
                                casename = "Fena Değil";
                            }
                            else if (item.BlogRating >= 0)
                            {
                                color = "post-category text-white bg-danger mb-3";
                                casename = "Kötü";
                            }
                            <tr>
                                <td>@item.BlogID</td>
                                <td>@item.BlogTitle</td>
                                <td class="project_progress">
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-green" role="progressbar" aria-volumenow="@item.BlogRating" aria-volumemin="0" aria-volumemax="100" style="width: @item.BlogRating%">
                                        </div>
                                    </div>
                                    <small>
                                        Aldığı puan: @item.BlogRating
                                    </small>
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-success">@item.Category.CategoryName</span>
                                </td>
                                <td class="project-state">
                                    <span class="badge badge-@color">@casename</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-info btn-sm" href="/Blog/UpdateBlog/@item.BlogID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Blog/DeleteBlog/@item.BlogID" onclick="return confirm('Blog yazısını silmek istediğinize emin misiniz?')">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>

